<div class="main-wrapper">
  <h3 class="page-title">グループ一覧</h3>
  <div class="table">
    <% @groups.each do |g| %>
      <div class="table-row">
          <div class="table-row-left">
          <p><%= link_to g.name, group_path(g.id) %></p>
          </div>
        <div class="table-row-right">
        </div>
      </div>
    <% end %>
  </div>
  <div class="bottom btns">
    <p><%= link_to '新規グループ作成', new_group_path, class:"btn" %></p>
  </div>
</div>