<h1>Users#index</h1>

<% @groups.each do |g| %>
  <p><%= g.name %></p>
  <% g.users.where(can_edit: false).each do |u| %>
    <p>
      <%= link_to u.name, user_path(u.id) %>
    </p>
  <% end %>
<% end %>

<p>未所属</p>
<% @users_not_in_group.each do |u| %>
  <p><%= link_to u.name, user_path(u.id)%></p>
<% end %>

