/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 全ページ共通の装飾 */
body {
  padding: 0;
  margin: 0;
  background-color: #F4F4F4;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: #FA9420;
  border: 1px black outset;
  border-radius: 1px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 10px 10px;
  margin: 10px;
}

.btn:active {
  border: 1px black inset;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
  background-color: #39FA5D;
}

header .logo {
  color: white;
  font-size: xx-large;
  text-decoration: none;
}

.main-wrapper {
  width: 85%;
  margin: 0 auto;
  background-color: white;
}

/* 全ページ共通の装飾 ここまで */

/* ログイン画面 ユーザー情報編集*/

form {
  width: 400px;
  margin: 0 auto;
}

.email,
.password,
.name,
.group,
.schedule,
.start,
.end,
.place,
.description,
.editors,
.ordinaly_users {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.submit {
  background-color: #FA9420;
  display: inline-block;
  border: 1px black outset;
  border-radius: 1px;
  box-sizing: border-box;
  height: 50px;
  line-height: 30px;
  padding: 10px 10px;
  margin: 10px;
  font-size: 16px;
  color: white;
}

.submit:hover {
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

/* ログイン画面 ユーザー情報編集 ここまで */

/* 利用者一覧・グループ一覧・マイページ グループ情報 */


.page-title {
  width: auto;
  text-align: center;
}

.table {
  width: 50%;
  margin: auto;
  text-align: center;
}

.table-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.table-row-left {
  width: 40%;
  border-right: 1px silver solid;
  padding: 10px;
}

.table-row-right {
  width: 60%;
  background-color: whitesmoke;
  padding: 10px;
}

.bottom {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

/* 利用者一覧・グループ一覧・マイページ ここまで */

/* トップページ */
.main_top {
  display: flex;
  align-items: center;
}

.welcome_message {
  margin: 0 20px;
}

.schedules-wrapper {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.add_schedule {
  background-color: white;
  width: 500px;
  height: 500px;
}

.add_schedule p {
  text-align: center;
}

#calendar {
  background-color: white;
  width: 1200px;
}