// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btns {
  display: flex;
}

.main-wrapper {
  width: 85%;
  margin: 0 auto;
}

.username {
  width: auto;
  text-align: center;
}

.table {
  width: 50%;
  margin: auto;
  text-align: center;
}

.table-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.table-row-left {
  width: 40%;
  border-right: 1px silver solid;
  padding: 10px;
}

.table-row-right {
  width: 60%;
  background-color: whitesmoke;
  padding: 10px;
}

.bottom {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}